<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <%- include('styles'); %>
  </head>
  <body>
    <h1>Radavietės (pavieniai stebėjimai)</h1>
    <% Object.keys(informationalForms).forEach(function(speciesId, index) { %>
      <%- include('forms/informational', {item: informationalForms[speciesId], index: index + 1, species: speciesById[speciesId]}); %>
      <div class="page-break"></div>
    <% }); %>
  </body>
</html>
