<%- include('styles'); %>
<div
  class="flex w-full justify-between items-center text-sm text-gray"
  style="margin-left: 50px; margin-right: 50px"
>
  <div><%= systemName %> Nr. <%= id %></div>
  <div><span class="pageNumber"></span>/<span class="totalPages"></span></div>
</div>
